:root {
  --primary-color: #f42633;
  --second-color: #242635;
  --main-transition: 0.3s;
  --second-white: #f4f4f4;
}

body {
  color: #768390;
  background: #fff !important;
  font-family: "Space Grotesk", sans-serif;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

::selection {
  color: #fff;
  background: var(--primary-color);
}

/* Start Main */
a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.text-main {
  color: var(--primary-color) !important;
}

.text-second {
  color: var(--second-color) !important;
}

.bg-main {
  background-color: var(--primary-color) !important;
}

.bg-second {
  background-color: var(--second-color) !important;
}
.bg-second-opacity{
  background-color: #2426359a;
}
.text-bolder {
  font-weight: bolder;
}

.border-main {
  border-color: var(--primary-color) !important;

}

.f-size-20 {
  font-size: 20px !important;
}
.mr-3{
  margin-right: 1em !important;
}
.btn {
  transition: .5s;
}

.btn-square {
  width: 38px;
  height: 38px;
  border-radius: 0 10px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
  border-radius: 0;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

/* End Main */
/* Start btn More */
.more {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 1px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.more:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 1px;
  z-index: -2;
}

.more:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #f84652;
  transition: all 0.3s;
  border-radius: 1px;
  z-index: -1;
  color: #fff;
}

.more:hover::before {
  color: #fff;
  width: 100%;
}

/* End btn More */
/* Start Preloader */
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/* End Preloader */
/* Start back-to-top */
.back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 1px;
  transition: all 0.4s;
  color: #fff !important;
  animation: action 1s infinite alternate;
}

.back-to-top i {
  font-size: 20px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #2c3550;
  color: #fff !important;
}

.back-to-top.actived {
  visibility: visible;
  opacity: 1;
}

.datepicker-dropdown {
  padding: 20px !important;
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

/* End back to top */
/* Start Navbar */
.navbar {
  font-family: "Space Grotesk", sans-serif !important;
  margin-top: 0 !important;
  border-top: 5px solid var(--second-color);
  background-color: var(--second-color);
}

.navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 17px;
  font-family: "Space Grotesk", sans-serif;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

.navbar .search {
  border-left: 1px solid var(--primary-color);
}

.navbar .search svg {
  color: var(--primary-color);
}

.navbar .btn-track {
  display: block;
  border: 2px solid transparent;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 6px;
  transition: 0.3 all ease-in-out;
  color: var(--primary-color);
  border-color: var(--primary-color);
  background: #fff;
  transition: 0.3s;
  outline: none;
}

.navbar .btn-track:focus {
  border: none;
  outline: none;
}

.navbar .btn-track:hover {
  background-color: var(--primary-color);
  color: white;
  outline: none;
}

.navbar .navbar-toggler {
  color: var(--primary-color);
  font-size: 25px;
  border-color: none;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: none;
}

/* End Navbar */

/* Start Header */
.hero-header {
   font-family: "Space Grotesk", sans-serif !important;
  margin-top: -100px;
  padding-top: 150px;
  background: url(../imgs/hero-bg.jpg) top center no-repeat;
  background-size: cover;
}

.hero-header .breadcrumb-item+.breadcrumb-item::before {
  color: var(--light);
}

.myimage {
  padding: 10px;
  position: relative;
  z-index: 11;
}

.myimage img {
  border-radius: 0 100px;
}

.myimage::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: calc(50% + 45px);
  height: 100%;
  background: var(--primary-color);
  z-index: -1 !important;
  border-radius: 0 100px;
}

/* End Header */

/* Start About */
.about {
  background: url(../imgs/about-bg.png) top center no-repeat;
  background-size: cover;
}
/* End About */
/* Start Feature */

/* End Feature */
/* Start Project */
.hero-bg{
  background: url(../imgs/hero-bg.jpg) top center no-repeat;
  background-size: cover;
}
.project-item img {
  transition: .5s;
}

.project-item:hover img {
  transform: scale(1.2);
}

.project-overlay {
  position: absolute;
  padding: 25px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background: linear-gradient(rgba(255, 255, 255, .1) 50%, var(--bs-dark));
  z-index: 1;
}
/* End Project */
/* Start Service */
.service-item {
    position: relative;
    padding: 30px 25px;
    transition: .5s;
}

.service-item.bg-second:hover {
    background: #fff !important;
}

.service-item.bg-second p {
    color: #fff;
    transition: .5s;
}
.service-item.bg-second:hover p {
    color: var(--second-color) !important;
}
.service-item.bg-white:hover {
    background: var(--second-color) !important;
}

.service-item.bg-white p {
    color: var(--primary-color);
    transition: .5s;
}

.service-item.bg-white:hover p {
    color: #fff;
}


.service-item .service-img h3 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 12px 7px 0;
    color: var(--primary-color);
}


.service-item.bg-white .service-img h3 {
  background-color: #fff;
    color: var(--second-color);
    transition: .5s;
}
.service-item.bg-second .service-img h3 {
  background-color: var(--second-color);
    color: #fff;
    transition: .5s;
}
.service-item.bg-second:hover .service-img h3 {
  background-color: var(--primary-color);
}
.service-item.bg-white:hover .service-img h3 {
    background: var(--primary-color);
    color: #fff;
}

/* End Service */

/* Start Contact */
.contact {
    background: url(../img/hero-bg.jpg) bottom right no-repeat;
    background-size: cover;
}

@media (min-width: 992px) {
    .contact .container {
        max-width: 100% !important;
    }

    .contact .contact-text  {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .contact .contact-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .contact .contact-text  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}
/* End Contact */
/* Start Footer */
.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: rgba(255,255,255,.5);
    font-weight: normal;
    transition: .3s;
    text-decoration: none;
}


.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: rgba(255,255,255,.5);
}

.footer .copyright a:hover {
    color: var(--bs-white);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
/* End Footer */